* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #AB8F97;
    display: flex;
}

#part1 {
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2 {
    height: 100%;
    width: 67%;
    background-color: green;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.207);
}

#part3 {
    height: 100%;
    width: 7%;
    /* background-color: yellow; */
}

#text-div {
    position: absolute;
    /* height: 300px; */
    width: 500px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div h1 {
    font-size: 95px;
    font-family: monument;
    font-weight: 900;
    line-height: 78px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

#small-img-div {
    height: 400px;
    width: 300px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    background-image: url(https://images.unsplash.com/photo-1604514628550-37477afdf4e3?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#vertical-text {
    position: absolute;
    /* width: 100%; */
    /* background-color: red; */
    right: -45%;
    top: -2%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
}

#vertical-text h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
    letter-spacing: 15px;

}